<html>
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="Escape From Tarkraft"/>
        <title>Escape From Tarkraft</title>
        <meta property="og:description" content="A true hardcore PvP shooter experience in Minecraft!"/>
        <meta property="og:image" content="https://joshuacote.net/assets/images/Eagle111.png"/>
        <meta name="keywords" content="Tarkraft, Escape from Tarkraft, Escape from Tarkov, Tarkov, Tarkov in Minecraft, EFT, EFT in Minecraft">
        <meta name="author" content="Joshua Cote">
        <link rel="shortcut icon" href="/assets/images/logoPrimary.png" type="image/png">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
        
        <link rel="stylesheet" href="/assets/css/style.css">
        <script defer src="/assets/js/comingsoon.js"></script>
    </head>

    <body>


        <video id="myVideo" muted autoplay loop playsinline>
            <source src="/assets/videos/trailer2.mp4" type="video/mp4">
        </video>

        <!-- NAVBAR -->

        <!-- NAVBAR MOBILE -->

        <div id="mobileID" class="mobileContent-nav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeMobileNav()">&times;</a>
            <div class="mobileContent-nav-content">
                <a href="/" class="navMob-link">Home</a>
                <a href="/status" class="navMob-link">Server Status</a>
                <a href="/leaderboards" class="navMob-link">Leaderboards</a>
                <a href="https://store.tarkraft.com/" class="navMob-link">Store</a>
                <a href="/roadmap" class="navMob-link">Roadmap</a>
                <a href="https://forums.tarkraft.com/" class="navMob-link">Join Now</a>
            </div>
          </div>

        <!-- NAVBAR MOBILE END -->

        <div class="homeContainer-NavBar">

            <div class="navBar-bg">

                <div class="navBar-width">

                    <div class="navBar-left">
                        <img src="/assets/images/logoPrimary.png">
                    </div>

                    <div class="navBar-right">
                        <a href="/" class="navBar-link">Home</a>
                        <a href="/status" class="navBar-link">Server Status</a>
                        <a href="/leaderboards" class="navBar-link">Leaderboards</a>
                        <a href="https://store.tarkraft.com/" class="navBar-link">Store</a>
                        <a href="/roadmap" class="navBar-link navActive">Roadmap</a>
                        <a href="https://forums.tarkraft.com/" class="navBar-btn">Join Now</a>
                        
                        <span class="mobHam" onclick="openMobileNav()">&#9776;</span>
                    </div>

                </div>

            </div>


        <!-- NAVBAR END -->


        <!-- container -->


            <div class="HomeContainer">
                <div class="homeHeader">
                    <iframe title="Tarkraft Roadmap"class="clickup-embed" src="https://share.clickup.com/l/h/87tvy-672/9e6f489c03dc3f7" onwheel="" width="100%" height="700px" style="background: transparent; border: 1px solid #ccc;"></iframe>
                </div>
            </div>


        </div> <!-- NAVBAR-HEADER-CONTAINER -->
    
            <!-- FOOTER -->
    
            <div class="JCFooter">
                <img src="/assets/images/LogoGray.png" class="footerLogo">
                <p class="footerTitle">Looking to get in touch?</p>
                <p class="footerDesc">Contact us via the forums or for a more direct communication feel free to join our discord!</p>
    
                <p class="footerCopyright">JA Enterprises LLC &copy; 2021. All Rights Reserved</p>
                <a href="https://joshuacote.net" class="joshuacote">Made by <img src="https://joshuacote.net/copyright/cote.png"></a>
            </div>
            <!-- FOOTER -->    
        </div>


        <!-- SCRIPT -->

        <script>
            function openMobileNav() {
              document.getElementById("mobileID").style.width = "100%";
            }
            
            function closeMobileNav() {
              document.getElementById("mobileID").style.width = "0%";
            }
        </script>
    </body>


</html>